# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]eploy/
[Dd]eployment/
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# User-specific files for Visual Studio for Mac
.vscode/
.vs/


# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer directory
TestResults/

# Windows Installer log files
*.log

# Tye configuration files
.tye/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Npm package
node_modules/

# ASP.NET Core
wwwroot/

# JetBrains Rider
.idea/

# VS for Mac
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
